<p>cart works!</p>

<!-- <div class="row">
  <div class="col-md-3 col-sm-12" *ngFor="let prod of cartItems">
    <app-product [prod] = "prod"></app-product>
  </div>
</div> -->

<div class="row">
  <ng-container *ngFor="let item of cartItems">
    <div class="col-md-3 col-sm-12">
      <div class="item">
        <img [src]="item.product.image" alt="" />
        <div class="body">
          <h4>{{ item.product.title }}</h4>
          <p>{{ item.product.description }}</p>
        </div>
        <div
          class="px-3 mb-2 d-flex justify-content-between align-items-center"
        >
          <span>quantity: {{ item.quantity }}</span>
          <span>{{ item.product.price | currency : "EGP" }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
